.ps-shoe,
.product-card {
  &__variants {
    .swiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;

      .swiper-wrapper {
      }
      .swiper-slide-thumb-active {
        opacity: 1;
      }
      .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
      .swiper-button-prev,
      .swiper-button-next {
        &:after {
          font-size: 15px;
          color: black;
        }
      }
    }
  }
}
